* text=auto

*.cs text diff=csharp
*.shader text
*.cginc text
*.compute text
*.hlsl text
*.json text
*.md text
*.txt text
*.yml text
*.yaml text
*.uxml text
*.uss text

*.unity text
*.prefab text
*.asset text
*.mat text
*.meta text
*.anim text
*.controller text
*.playable text
*.overrideController text
*.physicsMaterial2D text

*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.psd binary
*.tga binary
*.wav binary
*.mp3 binary
*.ogg binary
*.fbx binary
*.ttf binary
*.otf binary
*.dll binary
*.exe binary
*.zip binary
